<html>
    <head></head>
        <body>
            <p>
                <form>
                    <input type="text" name="sentence">
                    <input type="number" name="shift">
                    <input type="submit" value="encrpyt">
                </form>
            </p>
        </body>
</html>